<launch>
  <arg name="host" default="localhost"/>
  <arg name="port" default="2000"/>
  <arg name="fixed_delta_seconds" default="0.05"/>

  <!-- CARLA simulator -->
  <include file="$(find conformal_lattice_planner)/launch/random_traffic_simulator.launch">
    <arg name="host" value="$(arg host)"/>
    <arg name="port" value="$(arg port)"/>
    <arg name="fixed_delta_seconds" value="$(arg fixed_delta_seconds)"/>
  </include>

  <!-- Ego lane following controller -->
  <include file="$(find conformal_lattice_planner)/launch/ego_lane_following.launch">
    <arg name="host" value="$(arg host)"/>
    <arg name="port" value="$(arg port)"/>
    <arg name="fixed_delta_seconds" value="$(arg fixed_delta_seconds)"/>
  </include>

  <!-- Agents lane following controller -->
  <include file="$(find conformal_lattice_planner)/launch/agents_lane_following.launch">
    <arg name="host" value="$(arg host)"/>
    <arg name="port" value="$(arg port)"/>
    <arg name="fixed_delta_seconds" value="$(arg fixed_delta_seconds)"/>
  </include>

</launch>
